@media screen  and (max-width: 600px){
    nav{
        margin: 20px;
    }
    nav ul{
        display: none;
    }
    .menu-icon {
        display: flex;
    }
    .nav-title img{
        width: 40px;
        height: 30px;
        
    }
    /* banner styles */
    main{
        margin: 20px;
    }
    
    .banner-title{
        font-size: 1.5rem;
    }
    .banner {
        margin: 17px 20px; 
        padding: 32px 20px;
    }
    .inpu-type{
        width: 100%;
        margin-bottom: 16px;
    }
    .banner-form{
        margin-top: 30px;
    }
    /* main popular Toure */
    .title{
        font-size: 20px;
    }
    .main-section{
        flex-direction: column;
    }
    .main-content,.popular-img {
        width: 100%;
    }
    .Choose-card-2{
        flex-direction: column;
    }
    /* .newsletter-section */
    .newsletter-section{
        flex-direction: column;
    }
    .Destination{
        margin-top: 24px;
    }
    .top-img, .center-img ,.button-img{
        flex-direction: column;
    }

}

/* Destination section styles */

/* .Destination{

} */
